<template>
  <view class="login-wrap login-box">
    <view style="color: #4B4D4B; font-size: 48rpx; font-weight: 600;" class="login-hello">新用户注册</view>
    <view>
      <view class="input-box">
        <input placeholder="请输入手机号" class="username-input" v-model="phone" type="text">
      </view>
      <view class="input-box">
        <input placeholder="验证码" class="username-input" v-model="code" type="text">
        <span @click="goTimer" class="blue-font get-code" >{{ second ? `${second}s` : '获取验证码' }}</span>
      </view>
      <view class="warning-text">
        登录注册代表同意<span class="blue-font">用户协议</span>和<span class="blue-font">隐私政策</span>
      </view>
      <view>
        <button class="login-btn" @click="login">注册</button>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        phone: '',
        code: '',
        timer: null,
        second: 0,
      }
    },
    methods: {
      goTimer() {
        const _this = this;
        if(_this.timer) return;
        _this.second = 60;
        this.timer = setInterval(() => {
          _this.second --;
          if(_this.second <= 0) {
            clearInterval(_this.timer);
            _this.timer = null;
          }
        }, 1000)
      },
      login() {
        const {
          phone,
          code
        } = this;
        console.log(phone, code)
      }
    }
  }
</script>

<style scoped>
  .login-box {
    padding: 60rpx 40rpx 0;
  }

  .blue-font {
    color: #007AFF;
  }

  .login-btn {
    width: 630rpx;
    background-color: rgba(32, 191, 85, 1);
    border-radius: 50rpx;
    color: white;
    margin-bottom: 40rpx;
  }

  .warning-text {
    text-align: center;
    margin-bottom: 60rpx;
    margin-top: 40rpx;
  }
  
  .input-box {
    border-bottom: 1px solid #CCCCCC;
    height: 80rpx;
    margin-top: 40rpx;
    display: flex;
    justify-content: space-between;
  }
  
  .input-box .username-input {
    border: none;
    background: none;
    outline: none;
    font-size: 32rpx;
    height: 80rpx;
  }
  
  .get-code {
      display: inline-block;
      width: 180rpx;
      text-align: right;
  }
</style>
