<template>
  <view class="login-wrap login-box">
    <view style="color: #4B4D4B; font-size: 56rpx; font-weight: 600;" class="login-hello">你好</view>
    <view style="font-size: 36rpx; color: #4B4D4B;">欢迎来到骑趣</view>
    <view>
      <view class="input-box">
        <input placeholder="请输入用户名/手机号" class="username-input" v-model="username" type="text">
      </view>
      <view class="input-box">
        <input placeholder="请输入密码" class="username-input" v-model="password" :type="visiable ? 'text' : 'password'">
        <image @click="visiable = !visiable" mode="aspectFit" class="eye" :src="visiable ? openIcon : closeIcon"></image>
      </view>
      <view class="warning-text">
        登录注册代表同意<span class="blue-font">用户协议</span>和<span class="blue-font">隐私政策</span>
      </view>
      <view>
        <button class="login-btn" @click="login">登录</button>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        openIcon: '../../../static/icons/open-eye.png',
        closeIcon: '../../../static/icons/close-eye.png',
        visiable: false,
        username: '',
        password: ''
      }
    },
    methods: {
      login() {
        const {
          username,
          password
        } = this;
        console.log(username, password)
      }
    }
  }
</script>

<style scoped>
  .login-box {
    padding: 60rpx 40rpx 0;
  }

  .blue-font {
    color: #007AFF;
  }

  .login-btn {
    width: 630rpx;
    background-color: rgba(32, 191, 85, 1);
    border-radius: 50rpx;
    color: white;
    margin-bottom: 40rpx;
  }

  .warning-text {
    text-align: center;
    margin-bottom: 60rpx;
    margin-top: 40rpx;
  }

  .eye {
    height: 50rpx;
    width: 50rpx;
    vertical-align: bottom;
    margin-right: 10rpx;
    margin-top: 20rpx;
  }
  
  .input-box {
    border-bottom: 1px solid #CCCCCC;
    height: 80rpx;
    line-height: 80rpx;
    margin-top: 40rpx;
    display: flex;
    justify-content: space-between;
  }
  
  .input-box .username-input {
    border: none;
    background: none;
    outline: none;
    font-size: 32rpx;
    height: 80rpx;
    line-height: 80rpx;
  }
</style>
