<template>
    <view class="login-wrap">
        <image class="wel-logo" src="https://www.easyicon.net/api/resizeApi.php?id=1194607&size=128"></image>
        <view class="btns-wrap">
            <view>
                <button class="wel-btn" @click="jumpRegister">新用户注册</button>
            </view>
            <view>
                <button class="wel-btn login-btn" @click="jumpLogin">登录</button>
            </view>
            <view @click="justLook" class="look">
                先逛逛
            </view>
        </view>
    </view>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {
            jumpLogin() {
                uni.navigateTo({
                    url: "/pages/register/login/login"
                })
            },

            justLook() {
                uni.switchTab({
                    url: "/pages/home/home",
                })
            },

            jumpRegister() {
                uni.navigateTo({
                    url: "/pages/register/register/register"
                })
            }
        }
    }
</script>

<style scoped>
    .login-wrap {
        height: 100%;
        background: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2409531235,104520390&fm=26&gp=0.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .wel-logo {
        width: 200rpx;
        height: 200rpx;
        margin: 160rpx auto 0;
        display: block;
    }

    .look {
        color: white;
        margin-bottom: 50rpx;
    }

    .wel-btn {
        width: 630rpx;
        background-color: rgba(32, 191, 85, .6);
        border-radius: 50rpx;
        color: white;
        margin-bottom: 40rpx;
    }

    .login-btn {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .btns-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>
