<template>
    <view class="page-wrap">
        <view style="padding-top: 50rpx; display: flex; justify-content: space-between;">
            <text style="font-size: 42rpx;">骑趣</text>
            <text style="font-size: 38rpx;">GPS</text>
        </view>
        <view class="top-wrapper">
            <view style="display: flex; justify-content: space-between;">
                <view class="top-item">
                    <text>骑行总里程</text>
                    <text class="top-value">0 km</text>
                </view>
                <view class="top-item">
                    <text>骑行排名</text>
                    <text class="top-value">0</text>
                </view>
            </view>
            <button class="set-target">设定目标 ></button>
        </view>
        <view @click="start" class="start-button" type="default">
            <image class="start-btn-img" src="../../static/icons/bicycle.png" mode="aspectFit"></image>
            <span>开始</span>
        </view>

    </view>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {

        },
        methods: {
            start () {
                console.log('start')
            }
        }
    }
</script>

<style>
    .page-wrap {
        height: 100%;
        position: relative;
        padding: 0 30rpx;
    }

    .start-button {
        background-color: #20BF55;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        width: 240rpx;
        height: 240rpx;
        border-radius: 100%;
        font-size: 32rpx;
        position: absolute;
        bottom: 200rpx;
        left: 50%;
        transform: translateX(-50%);
    }

    .start-btn-img {
        height: 120rpx;
    }
    
    .top-item {
        display: flex;
        flex-direction: column;
        font-size: 32rpx;
    }
    
    .top-wrapper {
        background-color: white;
        padding: 30rpx;
        border-radius: 10rpx;
        box-shadow: 0 0 20rpx #dedede;
        margin-top: 50rpx;
    }
    
    .set-target {
        background-color: #ce7031;
        color: white;
        height: 60rpx;
        width: 240rpx;
        line-height: 60rpx;
        border-radius: 30rpx;
        font-size: 32rpx;
    }
    
    .top-value {
        font-size: 48rpx;
    }
</style>
