<template>
    <view class="page-wrap">
        <view class="map-wrap">
            <map :polyline="polyline" id="mapContainer" ref="mapContainer" style="width: 100%; height: 100%;">
            </map>
        </view>
        <view class="control-box">
            <button @click="drawSportLine" class="start-btn">开始</button>
        </view>
    </view>
</template>

<script>
    export default {
        data() {
            return {
                x: 40.071314,
                y: 116.130926,
                timer: null,
                // points: [],
                polyline: [{
                    points: [
                        {
                            "latitude": 40.071214,
                            "longitude": 116.130826
                        }, {
                            "latitude": 40.071113999999994,
                            "longitude": 116.130726
                        }, {
                            "latitude": 40.07101399999999,
                            "longitude": 116.13092599999999
                        }, 
                    ],
                    color: '#ff5500',
                    width: 10
                }],
                id: 0, // 使用 marker点击事件 需要填写id
                title: 'map',
                // markers: []
            }
        },
        mounted() {
           this.map = uni.createMapContext("mapContainer", this); // 地图组建
           this.originMap = this.map.$getAppMap();  // 原生地图
           this.originMap.showUserLocation(true);  // 显示当前位置
        },
        methods: {
            drawSportLine() {
                const _this = this;
                const accuracy = 0.0001;
                this.x -= accuracy;
                this.y -= accuracy;
                // _this.originMap.clearOverlays(); 
                // _this.originMap.getUserLocation( function(stete, point) {
                //     console.log(point)
                // })
                // map.getCenterLocation({
                //     success: function (res) {
                //         console.log(res)
                //     }
                // })
                
                const {
                    x,
                    y
                } = this;
                const newPoint = {
                    latitude: x,
                    longitude: y,
                    iconPath: '../../static/point.png'
                }
                
                this.polyline[0].points.push(newPoint)
                // this.markers.push(newPoint)
                // console.log(this.polyline[0].points)
            }
        }
    }
</script>

<style>
    .page-wrap {
        height: 100%;
        position: relative;
    }

    .map-wrap {
        height: 90%;
    }

    .control-box {
        width: 100%;
        position: absolute;
        z-index: 9999;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .start-btn {
        background-color: #0A98D5;
        color: #FFFFFF;
        width: 140rpx;
        height: 140rpx;
        line-height: 140rpx;
        border-radius: 100%;
        margin-bottom: 20rpx;
    }
</style>
